@font-face {
  font-family: TTNorms;
  font-weight: bold;
  src: (
          url("/fonts/TTNorms-Bold.ttf"),
          url("/fonts/TTNorms-Bold.woff"),
          url("/fonts/TTNorms-Bold.eot"),
  )
}

@font-face {
  font-family: TTNorms;
  src: (
          url("/fonts/TTNorms-Medium.ttf"),
          url("/fonts/TTNorms-Medium.woff"),
          url("/fonts/TTNorms-Medium.eot"),
  )
}

@media screen and (max-height: 870px) {
  .sidebar {
    overflow: scroll;
  }
  .content {
    overflow: scroll;
  }
}

@media screen and (max-width: 1980px) {
  .content {
    overflow: scroll;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 20px;
  display: flex;
  font-family: 'TTNorms';
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}


span {
  font-size: 20px;
  @media (max-width: 767px) {
    font-size: 15px;
  }
}

div {
  font-size: 30px;
  @media(max-width: 767px) {
    font-size: 20px;
  }
}


.avatar {
  margin-top: 92px;
  text-align: center;
}

.avatar__img {
  border-radius: 50px;
}

.avatar__img_shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avatar__img_small {
  width: 54px;
  height: 54px;
}

.avatar__img_very-small {
  width: 36px;
  height: 36px;
}

.avatar__login {
  font-size: 20px;
}

.avatar__login img {
  vertical-align: bottom;
}

.main {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 300px;
  min-width: 300px;
}

.content {
  background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
  display: flex;
  width: 100%;
}

.middle {
  margin: 110px 59px 48px;
  width: 580px;
  max-width: 580px;
}

.menu {
  margin-top: 60px;
  list-style-type: none;
  color: #707C97;
  font-size: 15px;
  line-height: 19px;
  padding: 0;
  vertical-align: center;
  height: calc(100% - 301px);
  display: flex;
  flex-direction: column;
}

.menu > li {
  margin: 15px;
  padding: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu > li:last-child {
  cursor: inherit;
}

.menu > li > .menu__bottom {
  cursor: pointer;
}

.menu > li:last-child {
  flex-grow: 1;
}

.menu > li > img {
  margin-right: 20px;
}

.menu__bottom {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: auto;
}

.menu__bottom > img {
  margin-right: 20px;
}

.active {
  color: #2A8BF2;
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.active img {
  margin: 0px 20px 0px 28px;
}

.active__border {
  display: inline-block;
  width: 3px;
  height: 40px;
  background: #2A8BF2;
  box-shadow: 1px 0px 10px rgba(42, 139, 242, 0.45), 0px 0px 10px rgba(42, 139, 242, 0.55), 4px 0px 25px rgba(42, 139, 242, 0.75);
  border-radius: 3px;
}

.border {
  width: 4px;
  height: 40px;
  background: #2A8BF2;
  box-shadow: 1px 0px 10px rgba(42, 139, 242, 0.45), 0px 0px 10px rgba(42, 139, 242, 0.55), 4px 0px 25px rgba(42, 139, 242, 0.75);
  border-radius: 3px;
  margin-left: -1px;
}


.chats__header {
  display: flex;
  vertical-align: bottom;
  justify-content: space-between;
}

.chats__header h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  margin-top: 0;
}

.chats__header p {
  font-size: 18px;
  line-height: 26px;
  color: #707C97;
}

.chats__header button {
  width: 240px;
  height: 60px;
  font-size: 20px;
  line-height: 24px;
  background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
  box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
  border-radius: 6px;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.chats__header button:focus {
  outline: 0;
}

.chats__header img {
  vertical-align: bottom;
}

.search-bar {
  width: 580px;
  height: 70px;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.search-bar input {
  background-image: url("../img/icons/search.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  height: 50px;
  padding-left: 40px;
  font-size: 18px;
  align-self: center;
  border: none;
  margin: 0px 10px;
  width: 100%
}

.search-bar select {
  min-width: 180px;
  height: 70px;
  border: none;
  border-left: 2px solid #F5F4FB;
  font-size: 18px;
  line-height: 26px;
  color: #707C97;
  padding-left: 46px;
  border-radius: 6px;
}


.search-bar option {
  margin-top: 20px;
  appearance: none;
}

.message {
  background: #fff;
  border-radius: 6px;
  padding: 30px 40px;
  margin: 20px 0;
}

.message-header {
  display: flex;
  position: relative;
}


.message-header__description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.message-header__description * {
  font-size: 18px;
  line-height: 21px;

}

.message-header__status {
  color: #2A8BF2;
  display: flex;
}

.message-header__status_white {
  color: #FFFFFF;
}

.margin-right10 {
  margin-right: 10px;
}

.margin-right20 {
  margin-right: 20px;
}

.message-header__date {
  font-size: 16px;
  line-height: 19px;
  color: #707C97;
}

.message-header__last-sign_white {
  color: rgba(255, 255, 255, 0.75);
}

.message__text {
  font-size: 16px;
  line-height: 26px;
  color: #707C97;
  flex-grow: 1;
}

.message__text_white {
  color: #FFFFFF;
}

.message__body {
  display: flex;
  margin-top: 17px;
  margin-bottom: 13px;
}

.message_selected {
  background: linear-gradient(96.78deg, #7CB8F7 0%, #2A8BF2 100%);
}

.counter {
  background: #FF3366;
  box-shadow: 4px 4px 15px rgba(198, 27, 74, 0.05), 2px 2px 10px rgba(198, 27, 74, 0.1), 1px 1px 50px rgba(198, 27, 74, 0.15);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  min-width: 20px;
  align-self: center;
}

.counter p {
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  margin: 3px;
  text-align: center;
}

.online {
  background: #00C305;
  border: 1.5px solid #FFFFFF;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 3px;
  border-radius: 50%;
}

.chips {
  border-radius: 20px;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  padding: 7px 13px;
  width: fit-content;
}

.chips img {
  margin: 0px 5px;
}

.chips_blue {
  background: rgba(42, 139, 242, 0.25);
  color: #2A8BF2;
}

.chips_red {
  background: rgba(255, 51, 102, 0.25);
  color: #FF3366;
}

.message__bottom {
  display: flex;
}

.message__bottom *:not(:last-child) {
  margin-right: 30px;
}


.wrapper_scroll {
  height: 100%;
  top: 0;
  left: 0;
}

.wrapper_scroll > *:first-child {
  margin-top: 0;
}

.wrapper {
  height: calc(100% - 322px);
  min-height: 550px;
  margin-left: 60px;
  max-width: 580px;
  overflow-y: scroll;
}

.content-header {
  background: #FAFBFF;
  border-radius: 6px 6px 0px 0px;
  margin-top: 110px;
  padding: 28px 38px 28px 60px;
  margin-right: 60px;
}

.circe {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03), 0px 5px 25px rgba(42, 139, 242, 0.07);
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

.circe:not(:last-child) {
  margin-right: 20px;
}

.circe:hover {
  cursor: pointer;
}

.circe * {
  flex-grow: 1;
  align-self: center;
}

.content-wrapper {
  background: #ffffff;
  overflow-y: scroll;
}

.content-body {
  padding: 10px 60px;
  margin-top: 2px;
  background: #ffffff;
  min-width: 450px;
  margin-right: 60px;
  height: calc(100% - 338px);
  min-height: 550px;
  overflow-y: scroll;

}

.content-row {
  display: flex;
  margin-bottom: 15px;

  & .content-row__message, & .attach {
    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;
    padding: 14px 22px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-right: 18px;
  }

  & :first-child {
    margin-right: 24px;
  }

  .attach-message {
    display: flex;
    justify-content: flex-end;
    margin: 0;

    & * {
      font-size: 16px;
      line-height: 26px;
      color: #2A8BF2;
      margin: 0;
    }
  }

  .attach {
    display: flex;

    & .attach__file {
      background: rgba(255, 255, 255, 0.25);
      border-radius: 6px;
      width: 40px;
      height: 40px;
      padding: 8px;
      display: flex;

      & img {
        margin: 0;
        align-self: center;
        flex-grow: 1;
        width: 30px;
        height: 30px;
      }
    }

    & .attach__description * {
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF;

    }

    & .attach__size {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.pointer {
  cursor: pointer;
}

.message-last-date {
  font-size: 14px;
  line-height: 26px;
  color: rgba(112, 124, 151, 0.7);
  float: right;
  margin-right: 24px;
}

.content-row__align-right {
  justify-content: flex-end;
  & .content-row__message {
    border-radius: 10px 10px 0 10px;
    background: #FFFFFF;
    border: 1px solid rgba(112, 124, 151, 0.25);
    box-sizing: border-box;
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    color: #707C97;
  }
}

.line-break {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(112, 124, 151, 0.15);
  line-height: 0.1em;
  margin: 10px 0 20px;

  & span {
    font-size: 14px;
    background: #fff;
    color: rgba(112, 124, 151, 0.7);
    padding: 0 10px;
  }
}

.line-break_offset {
  margin-top: 0;
}


.background_white {
  background: #ffffff;
  margin-right: 60px;
}

.padding {
  padding: 0 60px 30px;
}

.message-field {
  display: flex;

  & * {
    margin-right: 20px;
  }

  & input {
    flex-grow: 1;
    border: none;
  }
}

///* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
}

///* Handle */
::-webkit-scrollbar-thumb {
  background: #B7BDCB;
  box-shadow: 4px 4px 15px rgba(112, 124, 151, 0.05), 2px 2px 10px rgba(112, 124, 151, 0.1), 1px 1px 50px rgba(112, 124, 151, 0.15);
  border-radius: 10px;
}

//
///* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);;
}

